<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='number1'>
        <select name="1" id="" v-model='opt'>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        
        <input type="text" v-model='number2'>
        <input type="button" value='=' @click='ret'>
        <input type="text" v-model='result'>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number1: 10,
                number2: 10,
                result: 10,
                opt: "*",
            },
            methods: {
                ret() {

                    console.log(this.opt)
                    switch(this.opt) {
                        case '+':
                            this.result = parseInt(this.number1) + parseInt(this.number2)
                        break;
                        case '-':
                            this.result = parseInt(this.number1) - parseInt(this.number2)
                        break;
                        case '*':
                            this.result = parseInt(this.number1) * parseInt(this.number2)
                        break;
                        case '/':
                            this.result = parseInt(this.number1) / parseInt(this.number2)
                        break;
                   }
                }
                
            },
        }) 
    </script>
</body>
</html>