<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 遍历数组 -->
        <p v-for='item in [1,2,3,4]'>{{item}}</p>

        <!-- 遍历数组 带索引-->
        <p v-for='(item,i) in [1,2,3,4]'>{{item}}---{{i}}</p>

        <!-- 遍历对象 -->
        <p v-for='value,key in msg'> {{value}} --- {{key}}</p>

        <!-- 遍历对象 带索引-->
        <p v-for='value,key,i in msg'> {{value}} --- {{key}}---{{i}}</p>
    </div>
        
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                msg: {
                    'id': 1,
                    'name': 'alex',
                    'age': 18,
                }
            },
            methods: {
                
                
            },
        }) 
    </script>
</body>
</html>